Repository BorjaCuerva/tienda-ropa-online: changes, and which lint-staged commands are due for each by the changed paths.
All: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(components): optimize card component layout and styles
  components/Card.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(components): improve CategoryNavegation component styling and layout
  components/common/CategoryNavegation.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(components): update MainButton component to allow optional slug prop
  components/common/MainButton.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(content): add blog markdonw
  content/cuidado-ropa-deportiva.md
  content/equipamiento-para-correr.md
  content/evento-deportivo-madrid.md
  content/rutinas-entrenamiento-rendimiento.md
Due: none

chore(config): add content on scope
  .commitlintrc.json
Due: none

feat(pages): update error page layout and styles
  error.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(pages): Add new blog page and styles in all pages
  pages/blogs/[...blog].vue
  pages/blogs/index.vue
  pages/contacto.vue
  pages/index.vue
  pages/tienda-[category]/[title].vue
  pages/tienda-[category]/index.vue
  pages/tienda.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(config): Add @nuxt/content module for dynamic content management
  nuxt.config.ts
  package-lock.json
  package.json
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

chore(todo): update TODO.md with completed tasks and add new ones
  TODO.md
Due: none

feat(components): Add BlogCard component and styles on all components
  components/BlogCard.vue
  components/Card.vue
  components/GridBlock.vue
  components/MainNavbar.vue
  components/common/CategoryButton.vue
  components/common/CategoryNavegation.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

refactor(pages): remove unused carrito-detalle page
  pages/carrito-detalle.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(constants): update Facebook link in rrss.ts
  constants/rrss.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

chore(mocks): add mock data for blog list
  mocks/blogList.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

chore(assets): add img to blog page
  public/img/blogs/deporte-blog.jpg
  public/img/blogs/equipacion-correr.jpg
  public/img/blogs/ropa-blog.jpg
  public/img/blogs/rutina-blog.jpg
Due: none

chore(constants): add new images constants
  public/index.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

chore(content): change description on blog
  content/cuidado-ropa-deportiva.md
Due: none

chore(config): change workflow for test npm run build
  .github/workflows/ci-workflow.yml
Due: none

chore(config): change workflow for test npm run build
  .github/workflows/ci-workflow.yml
  nuxt.config.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

chore(config): change workflow for test npm run build
  nuxt.config.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

chore(config): change workflow for test npm run build
  content/equipamiento-para-correr.md
  content/evento-deportivo-madrid.md
  content/rutinas-entrenamiento-rendimiento.md
Due: none

Path conditions:
  npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)): any of: **/*.{ts,vue}
  eslint --fix: any of: **/*.{ts,js,vue}
  stylelint --fix: any of: **/*.{vue,css,scss}
