Repository BorjaCuerva/tienda-ropa-online: changes, and which lint-staged commands are due for each by the changed paths.
All: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{ts,vue}": "npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE))",
  "**/*.{ts,js,vue}": "eslint --fix",
  "**/*.{vue,css,scss}": "stylelint --fix"
}

feat(components): add base components
  components/MainFooter.vue
  components/svg/Facebook.vue
  components/svg/Instagram.vue
  components/svg/Logo.vue
  components/svg/Tiktok.vue
  components/svg/Twitter.vue
  layouts/default.vue
  pages/contacto.vue
  pages/index.vue
  pages/tienda.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

style(config): change c-primary and transition
  assets/styles/scss/_variables.scss
Due: stylelint --fix

chore(constants): add rrss constants
  constants/rrss.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

feat(components): navbar component completed
  components/MainNavbar.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(config): add packagelock
  package-lock.json
Due: none

chore(styles): remove logo in mobile version
  components/MainNavbar.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(components): add footer
  components/MainFooter.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(styles): removed unused variables
  assets/styles/scss/_variables.scss
Due: stylelint --fix

chore(config): add auto-import svg
  nuxt.config.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

chore(components): remove rrss
  components/MainNavbar.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(components): remove import for svg
  components/MainFooter.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(components): add heroblock component
  components/HeroBlock.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(pages): add cart detail page and add heroblock in index page
  pages/carrito-detalle.vue
  pages/index.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(components): add cart svg to component
  components/svg/Cart.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(assets): add img products
  public/img/camisetas/camiseta-azul.jpg
  public/img/camisetas/camiseta-baloncesto.jpg
  public/img/camisetas/camiseta-deporte.jpg
  public/img/camisetas/camiseta-negra.jpg
  public/img/camisetas/camiseta-roja.jpg
  public/img/camisetas/ropa-granate.jpg
  public/img/complementos/bolso-azul.jpg
  public/img/complementos/gorra-marron-clara.jpg
  public/img/complementos/gorra-marron.jpg
  public/img/complementos/tres-gorras.jpg
  public/img/leggins/leggin-azul-claro.jpg
  public/img/leggins/leggin-azul.jpg
  public/img/leggins/leggin-morado.jpg
  public/img/leggins/leggin-negro.jpg
  public/img/pantalones/pantalon-corto.jpg
  public/img/pantalones/pantalon-gris.jpg
  public/img/pantalones/pantalon-naranja.jpg
  public/img/pantalones/pantralon-blanco.jpg
  public/img/sudaderas/sudadera-amarilla.jpg
  public/img/sudaderas/sudadera-blanca.jpg
  public/img/sudaderas/sudadera-gris.jpg
  public/img/sudaderas/sudadera-marron.jpg
  public/img/sudaderas/sudadera-negra.jpg
  public/img/sudaderas/sudadera-roja.jpg
  public/img/tops/top-gris.jpg
  public/img/tops/top-negro-chica.jpg
  public/img/tops/top-negro.jpg
  public/img/tops/top-rojo.jpg
Due: none

chore(mock): add moks for grid and products
  mock/mock.ts
  mocks/gridItems.ts
  mocks/products.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

chore(documentation): update todo
  TODO.md
Due: none

style(components): change padding
  components/MainFooter.vue
  components/MainNavbar.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(components): add grid component and grid item
  components/GridBlock.vue
  components/GridItem.vue
  pages/index.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(config): add task to todo
  TODO.md
Due: none

chore(config): add swiper js
  package-lock.json
  package.json
Due: none

chore(assets): add banner imgs
  public/img/banners/banner-promo-sportivat-second.jpg
  public/img/banners/banner-promo-sportivat.jpg
Due: none

feat(pages): add carousel block to index page
  pages/index.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(components): add carousel block
  components/CarouselBlock.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(components): responsive for grid block and grid items
  components/GridBlock.vue
  components/GridItem.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(components): add padding for mobile version
  components/MainFooter.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(config): modify scope mock to mocks
  .commitlintrc.json
Due: none

chore(mocks): add mock for carousel items
  mocks/carouselItems.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

build(config): add workflow to deploy app
  .github/workflows/build-and-deploy.yml
Due: none

build(config): config build
  .github/workflows/build-and-deploy.yml
Due: none

build(config): test github pages
  .github/workflows/build-and-deploy.yml
Due: none

Create nuxtjs.yml
  .github/workflows/nuxtjs.yml
Due: none
