Repository BorjaCuerva/tienda-ropa-online: changes, and which lint-staged commands are due for each by the changed paths.
All: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

build(config): test github pages
  .github/workflows/nuxtjs.yml
Due: none

build(config): delete build yaml
  .github/workflows/nuxtjs.yml
  nuxt.config.ts
  package-lock.json
  package.json
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

build(config): delete build yaml
  nuxt.config.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

build(config): create build yaml
  .github/workflows/ci-workflow.yml
  components/HeroBlock.vue
  mocks/carouselItems.ts
  mocks/gridItems.ts
  nuxt.config.ts
  public/index.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(config): update pre-commit and lint-staged configuration
  .husky/commit-msg
  .husky/install.mjs
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: none

Deploying to gh-pages from @ BorjaCuerva/tienda-ropa-online@d63b4f534405232855e8ab3d45e958003a27e6c3 🚀
  200.html
  404.html
  assets/AxARQdn6.js
  assets/B0TD304t.js
  assets/B7_-tlFQ.js
  assets/BCncs3EH.js
  assets/Bm-jUw6a.js
  assets/Bq_DO440.js
  assets/BqqwUF-5.js
  assets/Bt2PQfiP.js
  assets/BuLq_x-A.js
  assets/BwgWeXtm.js
  assets/C3ecDtLa.js
  assets/C81Ep--E.js
  assets/C8QbOijK.js
  assets/CBoycrCq.js
  assets/CHUiNLKy.js
  assets/CVWstLH-.js
  assets/CXtx9CM_.js
  assets/C_pTuTgn.js
  assets/Ci81mX3T.js
  assets/D9PTDWY2.js
  assets/DhHefGFD.js
  assets/DzRtFyKO.js
  assets/LF7RiusH.js
  assets/TENBTau1.js
  assets/builds/latest.json
  assets/builds/meta/268fc7c7-f029-4fa6-aad8-fac83b01ec9f.json
  assets/builds/meta/ca0925cd-8c3b-4f3c-8884-d5fc3d9a6d82.json
  assets/cKdYHos9.js
  assets/ka-wR0G0.js
  assets/mV_txX6I.js
  carrito-detalle/index.html
  contacto/index.html
  index.html
  tienda/index.html
Due: eslint --fix

chore(components): fix components
  assets/styles/scss/reset.scss
  components/HeroBlock.vue
  components/MainNavbar.vue
  nuxt.config.ts
  pages/index.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(readme): add readme
  README.md
Due: none

Deploying to gh-pages from @ BorjaCuerva/tienda-ropa-online@4e24c831398b5b6d1c3c3d8497ab19095a1b51fa 🚀
  200.html
  404.html
  assets/B2S1DAbJ.js
  assets/B4T_Onxs.js
  assets/B7NOZiBT.js
  assets/BDydDOay.js
  assets/BkR4GIJX.js
  assets/BvkA26TK.js
  assets/C55B8CbE.js
  assets/C6BSw2dd.js
  assets/C7OvWdQT.js
  assets/CFpoOQ3y.js
  assets/CGsaa0Cm.js
  assets/CIDW5j_A.js
  assets/CO0pT9LC.js
  assets/CW-Mr2BU.js
  assets/CrM_aJJw.js
  assets/CtdZhZ0A.js
  assets/CxbajvVM.js
  assets/D-h_pujR.js
  assets/D8LbCgj-.js
  assets/D9BqeYn3.js
  assets/DMCh-LSc.js
  assets/Df45fA5i.js
  assets/Dtwjy9Wx.js
  assets/W204ZrPX.js
  assets/builds/latest.json
  assets/builds/meta/4ddfef84-325b-4a2c-a315-66de4914dc1e.json
  assets/builds/meta/8d19246f-2f3b-428c-89b5-418cf81db866.json
  assets/n--hH32j.js
  assets/vH933O9o.js
  assets/y-nF-GmM.js
  carrito-detalle/index.html
  contacto/index.html
  index.html
  tienda/index.html
Due: eslint --fix

Update README.md
  README.md
Due: none

Deploying to gh-pages from @ BorjaCuerva/tienda-ropa-online@8a32b965273e94d625663346caae74d1e3daead6 🚀
  200.html
  404.html
  assets/B7NOZiBT.js
  assets/BC5VGktR.js
  assets/BP9nNz46.js
  assets/B_d8U7Tr.js
  assets/BbnbluwP.js
  assets/BlnVdyLa.js
  assets/C55B8CbE.js
  assets/C8uqAd9h.js
  assets/CGsaa0Cm.js
  assets/CIDW5j_A.js
  assets/CO0pT9LC.js
  assets/CgF3LLsk.js
  assets/CpqWyqps.js
  assets/CrM_aJJw.js
  assets/CtdZhZ0A.js
  assets/CxbajvVM.js
  assets/D-h_pujR.js
  assets/D3MacWi-.js
  assets/D5ykzUi7.js
  assets/DMCh-LSc.js
  assets/DSps-lPI.js
  assets/DV9Fh8se.js
  assets/Dtwjy9Wx.js
  assets/W204ZrPX.js
  assets/builds/latest.json
  assets/builds/meta/10d78ed9-f48b-40ba-8b33-aae852d011e4.json
  assets/builds/meta/4ddfef84-325b-4a2c-a315-66de4914dc1e.json
  assets/f2bT-avx.js
  assets/oLw1Pa5_.js
  assets/y-nF-GmM.js
  carrito-detalle/index.html
  contacto/index.html
  index.html
  tienda/index.html
Due: eslint --fix

chore(todo): add task
  TODO.md
Due: none

feat(components): add structure for dinamic routes
  pages/tienda-[category]/[category].vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(mocks): add data
  interfaces/imageCollection.ts
  mocks/products.ts
  public/index.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

chore(components): add template on component
  pages/tienda-[category]/[category].vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(components): dynamic rutes
  components/Card.vue
  components/GridBlock.vue
  components/GridItem.vue
  composables/filterProducts.ts
  pages/tienda-[category]/[title].vue
  pages/tienda-[category]/index.vue
  pages/tienda.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(todo): add button component to TODO list
  TODO.md
Due: none

chore(mocks): Update routes for grid items in mocks
  mocks/gridItems.ts
  mocks/products.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

feat(composables): Add filterSingleProduct function to filterProducts.ts
  composables/filterProducts.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

chore(constants): Add constants for shop slugs
  constants/slugs.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

chore(components): Add addToCart functionality to Card.vue
  components/Card.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(components): Add CategoryButton component
  components/common/CategoryButton.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(components): Add MainButton component
  components/common/MainButton.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(components): Add CategoryNavegation component
  components/common/CategoryNavegation.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(pages): Update Tienda pages with new components and functionality
  pages/tienda-[category]/[title].vue
  pages/tienda-[category]/index.vue
  pages/tienda.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(components): change slug on nuxtlink
  components/common/MainButton.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(config): enable experimental view transition in nuxt.config.ts
  nuxt.config.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

style(components): add page transition styles to app.vue
  app.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

chore(constants): update store slugs with new names
  constants/slugs.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

chore(mocks): update product sizes
  mocks/products.ts
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix

feat(pages): update Tienda page with new layout and styles
  pages/tienda.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

feat(pages): update Tienda page with new layout and styles
  pages/tienda-[category]/index.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

refactor(components): update grid template rows to use smaller height
  components/GridBlock.vue
Due: npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)), eslint --fix, stylelint --fix

Path conditions:
  npx nuxi typecheck --cwd=$(dirname $(realpath $LINTSTAGED_FILE)): any of: **/*.{ts,vue}
  eslint --fix: any of: **/*.{ts,js,vue}
  stylelint --fix: any of: **/*.{vue,css,scss}
